# Intro to Numerical Computing with NumPy (Beginner)
Based on Alex Chabot-Leclerc lecture:  https://www.youtube.com/watch?v=V0D2mhVt7NE&t=390s

In [1]:
a = [1,2,3,4]
b = [10,11,12,13]

In [2]:
a + b

[1, 2, 3, 4, 10, 11, 12, 13]

In [3]:
output = []
for i, j in zip(a,b):
    output.append(i+j)
output

[11, 13, 15, 17]

In [4]:
g = list(range(10**6))

In [5]:
%timeit sum(g)

5.79 ms ± 61 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [6]:
import numpy as np

In [7]:
g_ar = np.array(g)

In [8]:
%timeit np.sum(g_ar)

674 µs ± 7.59 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [9]:
a = np.array([1,2,3,4])
b = np.array(b)
print(type(a), type(b), a, b)

<class 'numpy.ndarray'> <class 'numpy.ndarray'> [1 2 3 4] [10 11 12 13]

In [10]:
a.dtype

dtype('int64')

In [11]:
a.ndim   #number of dimensions

1

In [12]:
a.shape      # a tuple (krtotka)

(4,)

In [13]:
a.nbytes #bytes of memory used

32

In [14]:
a*b

array([10, 22, 36, 52])

In [15]:
a * 100

array([100, 200, 300, 400])

In [16]:
np.log(a)    #sin, exp, etc

array([0.        , 0.69314718, 1.09861229, 1.38629436])

In [17]:
np.sin

In [18]:
np.sum

In [19]:
sum

In [20]:
# wont work
a[0] = 10.6
a

array([10,  2,  3,  4])

In [21]:
a.dtype

dtype('int64')

In [22]:
d = np.array([10,11,11+4j])
d.dtype

dtype('complex128')

In [23]:
#ale dtype to atrybut
d = np.array([10,11,11.9], dtype = 'int64')
d.dtype,d

(dtype('int64'), array([10, 11, 11]))

In [24]:
c = np.array([[10,11,12,13],[1,2,3,4]])
c

array([[10, 11, 12, 13],
       [ 1,  2,  3,  4]])

In [25]:
c.dtype

dtype('int64')

In [26]:
c.ndim

2

In [27]:
c.shape

(2, 4)

In [28]:
c.T      #transpose

array([[10,  1],
       [11,  2],
       [12,  3],
       [13,  4]])

In [29]:
c.size

8

In [30]:
c[0,0]

10

### Slice
var[lower:upper:step]

In [31]:
a[::-2]

array([4, 2])

In [32]:
c

array([[10, 11, 12, 13],
       [ 1,  2,  3,  4]])

In [33]:
c[0, 2::]

array([12, 13])

In [34]:
e = np.array([[1 for i in range(10)] for i in range(10)])

In [35]:
e

array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])

In [36]:
e[::2, ::3] = 0
e

array([[0, 1, 1, 0, 1, 1, 0, 1, 1, 0],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [0, 1, 1, 0, 1, 1, 0, 1, 1, 0],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [0, 1, 1, 0, 1, 1, 0, 1, 1, 0],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [0, 1, 1, 0, 1, 1, 0, 1, 1, 0],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [0, 1, 1, 0, 1, 1, 0, 1, 1, 0],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])

### Ładne tworzenie tablic

In [37]:
a = np.arange(25).reshape(5,5)
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [38]:
# żółte
a[4]

array([20, 21, 22, 23, 24])

In [39]:
# żółte alt
a[-1:,:]    #może być bez drugiego ':'

array([[20, 21, 22, 23, 24]])

In [40]:
# niebieskie
a[1::2, :3:2]

array([[ 5,  7],
       [15, 17]])

In [41]:
# test - działa tylko jako shape w środku się zgadza - krotki na pojedyńcze punkty!
a[(1,3),(0,0)]

array([ 5, 15])

In [42]:
# czerwone
a[:,1::2]

array([[ 1,  3],
       [ 6,  8],
       [11, 13],
       [16, 18],
       [21, 23]])

### Uwaga
Robić .copy!!!

In [43]:
# uwaga
czerwone = a[:,1::2]
czerwone[1,1] = 10000
a

array([[    0,     1,     2,     3,     4],
       [    5,     6,     7, 10000,     9],
       [   10,    11,    12,    13,    14],
       [   15,    16,    17,    18,    19],
       [   20,    21,    22,    23,    24]])

In [44]:
id(a), id(czerwone), id(a) == id(czerwone)

(139781256041056, 139781256040976, False)

In [45]:
czerwone.flags

  C_CONTIGUOUS : False
  F_CONTIGUOUS : False
  OWNDATA : False
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

### boolean indexing

In [55]:
a = np.array([-1,2,3,-5,3])
mask = a < 0
a[mask]

array([-1, -5])

In [56]:
a[a < 0]

array([-1, -5])

In [57]:
a[a < 0 ] = 10
a

array([10,  2,  3, 10,  3])

In [60]:
a < 5

array([False,  True,  True, False,  True])

In [61]:
a > 2

array([ True, False,  True,  True,  True])

In [62]:
a < 5 and a > 2

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

## Bitwise operatiors

& -> and

| -> or

~ -> not

^ -> xor

In [63]:
(a < 8).any()

True

In [64]:
(a < 5) & (a > 2)

array([False, False,  True, False,  True])

In [67]:
np.nonzero(mask) # gdzie jest true w mask

(array([0, 3]),)

In [69]:
a.sort()
a

array([ 2,  3,  3, 10, 10])

In [81]:
a = np.arange(25).reshape((5,5))
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [80]:
a[[1,2,3,4],[1,2,3,4]] # środek diagonali

array([ 7, 14, 21, 28])

In [82]:
a[a%3 == 0]

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24])

## Not a Number

In [85]:
np.nan

nan

In [102]:
type(np.nan)

float

In [100]:
output = np.empty_like(a, dtype = 'float')
output   # garbage

array([[ 6.90613887e-310,  6.90613887e-310,  6.90613627e-310,
        -6.09221650e-167,  6.90611167e-310],
       [ 6.90613627e-310,  4.01164794e-237,  6.90611168e-310,
         6.90613627e-310,  1.06518975e-111],
       [ 6.90611167e-310,  6.90613627e-310,  6.79929772e-076,
         6.90611165e-310,  6.90613627e-310],
       [ 1.62600751e-016,  6.90611165e-310,  6.90613627e-310,
        -1.35045522e-169,  6.90611165e-310],
       [ 6.90613627e-310, -7.94145863e+112,  6.90613169e-310,
         6.90613627e-310, -4.82208577e-265]])

In [101]:
output.fill(np.nan)
output

array([[nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan]])

In [104]:
output[a % 3 == 0] = a[a % 3 == 0]
output

array([[ 0., nan, nan,  3., nan],
       [nan,  6., nan, nan,  9.],
       [nan, nan, 12., nan, nan],
       [15., nan, nan, 18., nan],
       [nan, 21., nan, nan, 24.]])

In [105]:
np.where(a% 3 == 0, a, np.nan)

array([[ 0., nan, nan,  3., nan],
       [nan,  6., nan, nan,  9.],
       [nan, nan, 12., nan, nan],
       [15., nan, nan, 18., nan],
       [nan, 21., nan, nan, 24.]])

## Multi-dimensional arrays
1:43:19